xml/employees.xsd

<?xml version="1.0"?>
<xsd:schema
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"> 
	
<xsd:element name="EMPDETAILS" type="a"/>

<xsd:complexType name="a">
<xsd:sequence>
	<xsd:element name="EMPLOYEE" type="b"/>
</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="b">
<xsd:sequence>
	<xsd:element name="NAME" type="xsd:string"/>
	<xsd:element name="ADDRESS" type="c"/>
	<xsd:element name="MOBILE" type="mobileType"/>
	<xsd:element name="SALARY" type="mysal"/>
</xsd:sequence>
	<xsd:attribute name="EID" type="xsd:string" />
</xsd:complexType>

<xsd:complexType name="c">
<xsd:sequence>
	<xsd:element name="PERMANENT" type="xsd:string"/>
	<xsd:element name="TEMPORARY" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="mysal">
	  <xsd:restriction base="xsd:positiveInteger"> 
		<xsd:maxInclusive value="99999"/> 
	</xsd:restriction>		
</xsd:simpleType>

<xsd:simpleType name="mobileType">
    <xsd:restriction base="xsd:string">
        <xsd:pattern value="[0-9]{10}"/>
    </xsd:restriction>
</xsd:simpleType>

</xsd:schema>

